extends layout

block content

    h1= title
    
    //- h3 #{author_list[0].first_name}
    
    ul
    each author in author_list
        li 
            a(href=author.url) #{author.name} 
            | (#{author.date_of_birth} - #{author.date_of_death})
            
    else
        li There are no authors.
    