doctype html
html(lang='en')
    head
        title= title
        script(type='text/javascript').
    body
        h1= title
        
        p This is a line with some #[em some emphasis] and #[strong strong text] markup.
        p This line has unescaped data: !{'<em> is emphasized </em>'} and escaped data: #{'<em> is not emphasized </em>'}.
            | this line flow on.
        p= 'Evaluated and <em>escaped expression</em>: ' + title
        
        <!-- you can add HTML comments directly -->
        // you can add single line Javascript comments and they are generated to HTML comments
        //- Introducing a single line comment with '//-' ensures the comment isn't rendered to HTML
        
        p A line with a link
            a(href='/catalog/authors') Some link text
            | and some extra text.
            
        #container.col
            if title
                p A variable named 'title' exists.
            else
                p A variable named 'title' does not exist. 
            p.
                Pug is a terse and simple template language with a strong focus on performance and powerful features. 
            
        h2 Generate a list
        
        ul 
            each val in [1, 2, 3, 4, 5]
            li=val
    